@use "sass:color";
$action-color: #cfb87c;

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

#home {
  .navBar {
    background-color: #000;
    color: #fff;
  }
  .searchBar {
    width: 80%;
    flex: none;
  }
}
